<!DOCTYPE html>
<html lang="ua">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Books library</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="library Sh++">
    <link rel="stylesheet" href="http://localhost:3000/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/4928383bf0.js" crossorigin="anonymous"></script>
    <script src="http://localhost:3000/admin.js" defer></script>

    <link rel="shortcut icon" href="http://localhost:3000/favicon.png">
</head>

<body>
    <section id="header" class="header-wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
                    <div class="logo">
                        <a href="http://localhost:3000/" class="navbar-brand">
                            <span class="sh">Ш</span><span class="plus">++</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2" style="float: right">
                    <div class="logout">
                        <button id="logout-btn" type="button" class="btn btn-danger" onclick="logout()">Вийти</button>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <section id="main" class="main-wrapper" style="min-height: 0%;">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="booksTable" class="table table-striped table-bordered table-sm" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-md-8">Назва книги</th>
                            <th class="col-md-8">Автори</th>
                            <th class="col-md-1">Рік</th>
                            <th class="col-md-1">Дії</th>
                            <th class="col-md-1">Кліків</th>
                            <th class="col-md-1">Відвідувань</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(book => { %>
                            <tr>
                                <td>
                                    <a class="title-link" href="http://localhost:3000/books/<%= book.id %>" target="_blank">
                                        <div class="cover-icon">
                                            <img class="cover-icon" src="<%= book.image_url %>" alt="<%= book.title %>">
                                        </div>
                                        <%= book.title %>
                                    </a>
                                </td>
                                <td><%= book.author %></td>
                                <td><%= book.release_year %></td>
                                <td><a class="btn-delete" onclick="deleteBook('<%= book.id %>')">Видалити</a></td>
                                <td><%= book.want_clicks_count %></td>
                                <td><%= book.views_count %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <center class="pagination-block" style="padding-bottom: 20px">
                    <%- include("./partials/_pagination.ejs") %>
                </center>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-post-form">
                    <legend>Додати книгу</legend>
                    <form id="postBookForm">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" name="bookTitle" placeholder="Назва книги"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="bookYear" placeholder="Рік видання"
                                    pattern="\d{1,4}" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="pages" placeholder="Кількість сторінок"
                                    pattern="\d{1,4}" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="author" placeholder="Автор" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Опис книги" name="about"
                                    required></textarea>
                            </div>
                            <div class="from-group">
                                <button type="submit" id="addButton" class="btn btn-success">Додати</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="img-input-wrap">
                                <div class="form-group">
                                    <div id="imgPreviewPlace"><img id="imgPreview"></div>
                                    <div class="btn-img-input-wrap">
                                        <input type="file" accept="image/png, image/jpeg" class="custom-file-input"
                                            name="bookImage" id="imgInput" required>
                                        <i class="fa-solid fa-trash-can" id="clearImg"
                                            title="Видалити вибране зображення" onclick="clearImgPlace()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>