<!DOCTYPE html>
<html lang="ua">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Books library</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="library Sh++">
    <link rel="stylesheet" href="http://localhost:3000/libs.min.css">
    <link rel="stylesheet" href="http://localhost:3000/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        crossorigin="anonymous" />
    <link rel="shortcut icon" href="http://localhost:3000/favicon.png">
</head>

<body>
    <%- include("./partials/_header.ejs") %>

    <section id="main" class="main-wrapper">
        <div class="container">
            <div id="content" class="book_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="id">
                    <div id="bookImg" class="col-xs-12 col-sm-3 col-md-3 item"><img src="<%= book.image_url %>" 
                        alt="Responsive image" class="img-responsive">
                        <hr>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 info">
                        <div class="bookInfo col-md-12">
                            <div id="title" class="titleBook"><%= book.title %></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="bookLastInfo">
                                <div class="bookRow"><span class="properties">
                                    автор:</span><span id="author"><%= book.author %></span>
                                </div>
                                <div class="bookRow"><span class="properties">
                                    рік:</span><span id="year"><%= book.release_year %></span>
                                </div>
                                <div class="bookRow"><span class="properties">
                                    сторінок:</span><span id="pages"><%= book.pages %></span>
                                </div>
                            </div>
                        </div>
                        <div class="btnBlock col-xs-12 col-sm-12 col-md-12">
                            <button type="button" class="btnBookID btn-lg btn btn-success">Хочу читати!</button>
                        </div>
                        <div class="bookDescription col-xs-12 col-sm-12 col-md-12 hidden-xs hidden-sm">
                            <h4>Про книгу</h4>
                            <hr>
                            <p id="description"><%= book.about %></p>
                        </div>
                    </div>
                    <div class="bookDescription col-xs-12 col-sm-12 col-md-12 hidden-md hidden-lg">
                        <h4>Про книгу</h4>
                        <hr>
                        <p class="description"><%= book.about %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./partials/_footer.ejs") %>
</body>

</html>